#presentation{
	font-size: 1.5em;
}
.paginations.paginprofil, .paginations.paginmet{
	padding: 10px 20px;
}
li.btn{
	padding:0;
	margin: 0 2px;
}
li.btn.active{
	padding:0;
	margin: 0 2px;
}
ul.pagination{
	padding: 15px 0 30px 0;
}
.collapsible-header{
	margin: 0 !important;
}
.collapsible li.active{
	background-color: white !important;
}
.container .row{
	margin: 0 0 1em 0;
}
#search{
	margin-top: 15px;
}
#circleprofil{
	max-height: 40px;
	max-width: 40px;
}
i{
	color:white;
}
#profil{
	height: 600px;
	padding-top: 50px;
}
#bandeau{
	margin-top: 50px;
}
/*---SLIDER---*/
#profilslide.indicators{
	z-index: 100;
	padding: 15px 0;
}
#profilslide.slider, #profilslide .slides{
	height: 800px !important;
}
/*--INDEX--*/

#mainphoto{
	background-image: url('../img/philo.jpg');
	width: 100%;
	height: 900px;
	background-size: cover;
}
#mainphoto2{
	background-image: url('../img/philo_2.jpeg');
	width: 100%;
	height: 900px;
	background-size: cover;
}
#mainphoto3{
	background-image: url('../img/philo_3.jpg');
	width: 100%;
	height: 900px;
	background-size: cover;
}
#mainphoto p,#mainphoto2 p,#mainphoto3 p{
	margin: 0 ;
	font-size: 2em;
}
#mainphoto .row,#mainphoto2 .row,#mainphoto3 .row {
	padding-top: 300px;
}
.carousel-item{
	width: 500px !important;
}
.carousel-item img{
	object-fit: cover;
	height: 500px;
}
footer::before{
	display:block;
	content: '';
	height: 100px;
}
.carousel{
	height: 900px;
}
.carousel h2{
	margin: 0;
}
/* LOGO PHILOMATIQUE sur BIG IMAGE */

#resp-logo{
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
}

/* ################################## START : PROPRIETES GLOBALES################################## */

/*---Header---*/
nav div a img {
	height: 40px;
	margin-top: 12px;
}
nav {
	height: 64px !important;
    color: #fff;
    background-color: #128b82;
}
/*---FOOTER---*/
footer div{
	height: 200px;
}
footer div h5 {
	width: 100%
}
footer .row{
	margin: 0;
}
.divfooter{
	padding-top: 70px !important;
}
.fa-3x{
	margin: 0 10px;
}
/***************** start : RESPONSIVE SUR BIG IMAGE ***************/
/***/
/***/	@media screen and (max-width: 900px) {
/***/		 #mainphoto3{
/***/		   height: 765px;
/***/		 }
/***/	}
/***/	@media screen and (max-width: 550px) {
/***/		#mainphoto3{
/***/		   height: 510px;
/***/		 }
/***/		#mainphoto3 .row{
/***/		   padding: 200px 13px 0;
/***/	  }
/***/	}
/***/
/***************** end : RESPONSIVE SUR BIG IMAGE ***************/

/***************** start : RESPONSIVE FOOTER ***************/
/***/
/***/	@media screen and (max-width: 700px) {
/***/		 footer div{
/***/		   height: 150px;
/***/		 }
			.divfooter{
				padding-top: 50px !important;
			}
			.fa-3x{
				margin: 0 5px;
			}
/***/	}
/***/	@media screen and (max-width: 450px) {
			footer div{
/***/		   height: 125px;
/***/		 }

/***/		.divfooter{
    			padding-top: 35px !important;
			}
/***/		.fa-3x{
				font-size: 2.5em !important;
				margin: 0;
			}
/***/	}
/***/
/***************** end : RESPONSIVE FOOTER ***************/

/***************** start : RESPONSIVE NAV HEADER ***************/

		@media screen and (max-width: 475px){
			#nav-resp{
				background-color: #795548;
				padding-right: 5px;
			}
		}


/***************** stop : RESPONSIVE NAV HEADER ***************/

/* START : ENTETE pages cgu, commentaires et galleryproject */

	#banner-project span{
		background-color: #128b82;
		padding: 15px;
		color: transparent;
	}
	#banner-project {
		margin-top: 1%;
	}


/* END : ENTETE pages cgu, commentaires et galleryproject */

/* ################################## END : PROPRIETES GLOBALES################################## */



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * PART : START : CONNECT/DECONNECT/REINIPASS*/

/* ne pas oublier de caler les margins à l' intitulé connexion */
.margetop{
	margin-top:50px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * PART : END : CONNECT/DECONNECT/REINIPASS*/

							      		/* ######## */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * PART : START METIERS ET SOUS CAT METIERS*/

#main_photo{ /* div qui contient ma big img */
	position: relative;
	height: 25em;
}
#allworks article img{
	width: 100%;
	height: 15em;
}
#allworks .photo-work{
	object-fit: cover;
	height: 300px;
}
#allworks p{
	height:15em;
	padding: 3%;
    text-align: justify;
    background-color: #E9FCFB;
}
#allworks h6{
	padding: 3%;
	text-align: justify;
}
#allworks article{
	margin-bottom: 3%;
}
#allworks h1{
	background-color: #128B82;
    padding: 1%;
    color: #fff;
}
#allworks article h6{
	font-size: 1.5em;
	text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  PART : END METIERS ET SOUS CAT METIERS*/

										/* ######## */


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * PART : START RESPONSIVE METIERS ET SOUS CAT METIERS*/

			@media screen and (max-width: 900px){
				#allworks img{
					width: 25em;
				}
			}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  PART : END RESPONSIVE METIERS ET SOUS CAT METIERS*/

										/* ######## */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *PART : START GALLERY PROJECTS*/

/*--------- start : TYPO (texts) gallery projects---------*/

#presentation h5{
	padding: 1% 3%;
	background-color: #128B82;
	display: inline-block;
	color: #fff;
	font-size: 1.2em;
}
#presentation h4{
	color: #128B82;
}
#gallery-title h6{
	padding: 2% 10%;
	background-color: #128B82;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
}
/*--------- end :TYPO (texts) gallery projects---------*/

#presentation img{
	width: 100%;
	object-fit: cover;
	height: 300px;
}



#presentation p{
	padding: 3%;
}
#presentation div:nth-child(2){
	padding: 0 1rem;
	height: 100% !important;
}
#presentation{
	margin-top: 4em;
	margin-bottom: 4em;
}
.patch-rightside{
	background-color: #128B82;
	padding: 20px 2px !important;
	color: transparent;
}
.patch-leftside{
	background-color: #128B82;
	padding: 20px 2px !important;
	color: transparent;
}
.patch-centered{
	padding: 20px 2px !important;
	color: #128B82;
}
#cards-folio{
	position: relative;
	height: 50em;
}
#cards-global-content{
	position: absolute;
	left: 0px;
	top: 0px;
}

#cards-folio div.card-image div p{
    position: absolute;
    z-index: 3;
    bottom: 0;
    text-align: justify;
    padding: 3% 5%;
    line-height: 1.30em;
    font-size: 0.75em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;

}
#cards-folio div.card-image div{
    position: relative;
}
#cards-folio img{
	object-fit: cover;
	height: 270px;
}
#cards-folio .card-image p{
	object-fit: cover;
	height: 60px;
	max-width: 100%;
}
#cards-folio .card-title{
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
}
#card-folio .area{
	margin:0 auto;
}
.card .card-content{
	padding: 9px 9px 0 !important;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * PART : END GALLERY PROJECTS*/

									/* ######## */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * PART : START PROJECTS PAGE*/
#banner-project span{
	background-color: #128b82;
	padding: 15px;
	color: transparent;
}

#titleentete{
	background-color: #e0f2f1;
}
div #slideprojet{
	padding: 0 !important;
}
div #slideprojet h5{
	color:#fff !important;
}

#titleprojet{
    padding: 0 0.5% 0 0;
}

#titleprojet h4{
    background-color: #128b82;
    margin-top: 0 !important;
    font-size: 1.7em;
    text-align: center;
    color: white;
    padding: 10px 0;
}
#titleprojet p{
	margin-bottom: 10px;
	background-color: #e0f2f1;
	padding: 10px;
}

#titleentete{
	background-color: #e0f2f1;
}

#com-project h7{
	color: #128b82;
}
.comments-bloc{
	margin-top: 7%;
}
#com-project{
	margin-bottom: 3%;
	/* margin-left: 33.5%;
	width: 50%; */
	padding: 10px;
}
#com-project h7{
	color: #128b82;
}
#comment-btn{
	padding: 0;
}
.link-com-project{
	margin: 3.35% 0;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * PART : END PROJECTS PAGE*/

										/* ######## */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * PART : START COMMENTAIRE PROJECTS*/
/* #image-entete {

} */
#image-entete img{
	object-fit: contain;
    height: 480px;

}
#image-entete h5{
	background-color: #795548;
	color: white;
	margin-bottom: 5%;
}
#form-com label{
	color: #128b82;
}
#line-postcom{
	padding: 0;
	margin-bottom: 25px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * PART : END COMMENTAIRE PROJECTS*/

										/* ######## */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * PART : START UPDATES-PAGES*/


/* ************ start : TYPO (texts) update ******** */
section.update-content{
	padding: 4% 0 0 0;
}
.nom-prenom{ /* nom et prenom de l'apprenant sous photo-gauche*/
	padding: 3%;
	background-color: #128B82;
	display: inline-block;
	color: #fff;
	font-size: 1.2em;
	width: 100%;
	margin: 0 auto;
}
#entete h6:nth-child(1){/*Intitulé GESTION DES INFOS  */
	padding: 5%;
	background-color: #128B82;
	display: inline-block;
	color: #128b82;
	font-size: 1.2em;
	width: 100%;
	margin: 0;
}
/* ************ end :TYPO (texts) update ************ */

#entete img{
	width: 100%;
}

/******* ZONE'#bouton-edit' : les boutons sur la gauche de la page d'update/
 * permettrons d'accéder aux champs à modifier selon la catégorie
 * (ex: profil ou projets) *******/

#bouton-edit{
    height: 4.5em;
    padding: 1em 0 0 0 ;
    width: 100%;
    border-bottom: 0.05em solid #128B82;
}

#bloc-projet-edit{
	padding: 0 0.75rem 0 0;
}

#projet-edit {
    height: 3.5em;
   /*  padding: 1em 0 0 0; */
    width: 100%;
    font-size: x-small;
}
#bloc-projet-edit a{
	background-color: #0091EA;
	color: #fff;
	border-bottom: 0.005px solid #fff;
}

/****** ZONE FORMULAIRE POUR GERER LES MODIFICATIONS ******/

#form-update{
    padding: 0;
}
#form-update .champsText {
    margin: 1em;
}
.champsText #textarea1{
	width: 94.5%;
}
h6.nameProject{
    background-color: #01579B;
    padding: 1em 0;
    margin: 0 0 0.4rem 0;
    color:#fff;

}
/**** ZONE DOCUMENT CHARGE EN DESSOUS ZONE FORMULAIRE ****/
.titre-doc-charge h6{
	padding-top: 1.75em;
    font-size: 1.2em;
}
.titre-doc-charge {
	margin-right: 1em;
}

#form-update button{
	margin-top: 10%;
}
.add{
	font-size: 0.8em;
}
.btn-add{
	padding:1%;
}
/******Padding du contenu******/
.gestionInfos{
	margin-bottom: 16%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * PART : END UPDATES-PAGES*/

										/* ######## */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * PART : START CGU page*/


#Objet-des-CGU{
	margin-left: 15%;
	margin-right: 15%;
}

#Objet-des-CGU h4{
	margin-left: 15%;
	text-align: center;
	color: white;
	font-size: 1em;
}
#Objet-des-CGU p{
	text-align: justify;
	padding: 7px;
}
#cont-des-CGU{

}
#couleur-font p{
	color: white;
}

/***************** start :RESPONSIVE CGU *************/

		@media screen and (max-width: 990px) {
			#Objet-des-CGU{
				width: 60%;
				margin-left: 20% !important;
			}

			#banner-project{
				width: 100%;
				margin: 0 !important;
				}

			#titre-CGU{
				margin: 0 !important
				}
			}

		@media screen and (max-width: 250px) {

			#banner-project{
				display: none;
				}
			}
/***************** stop :RESPONSIVE CONDITION **************/

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * PART : END CGU page*/
